[submodule "actionbarsherlock"]
	path = actionbarsherlock
	url = git://github.com/hollerbackco/ActionBarSherlock.git
[submodule "StaggeredGridView"]
	path = StaggeredGridView
	url = git://github.com/hollerbackco/StaggeredGridView.git
