<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moziy.hollerback"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Crittercism -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.moziy.hollerback.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.moziy.hollerback.permission.C2D_MESSAGE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".HollerbackApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Hollerback" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="hollerback.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.moziy.hollerback.activeandroid.StringArraySerializer" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.moziy.hollerback.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Example" >
        </activity>
        <activity
            android:name="com.moziy.hollerback.activity.HollerbackMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Hollerback" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moziy.hollerback.activity.WelcomeFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Example" >
        </activity>
        <activity
            android:name="com.moziy.hollerback.activity.SettingPreferenceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Example" >
        </activity>

        <receiver
            android:name="com.moziy.hollerback.gcm.GCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.moziy.hollerback" />
            </intent-filter>
        </receiver>

        <service android:name="com.moziy.hollerback.service.VideoUploadService" />
        <service
            android:name="com.moziy.hollerback.service.HollerbackVideoService"
            android:exported="false" />
        <service
            android:name=".service.VideoUploadIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".service.SyncService"
            android:exported="false" >
        </service>
        <service
            android:name=".service.BgDownloadService"
            android:exported="false" >
        </service>
    </application>

</manifest>